<div class="list-group-item media" data-itemid="{{_id}}">
  <h6 class="media-heading">{{title}}</h6>
  <div  class="pull-left">  
    <img src="{{authorAvatarUrl}}"  class="media-object">
  </div>
  <div class="media-body">
  <small>{{{linkify content}}}</small>
  </div>
  
  <a class="more-info-button" href="{{url}}">post info</a>
  <div class="postdata">
    <a href="{{url}}">original</a> posted at {{datePosted}} by <a href="{{authorProfileUrl}}">{{authorName}} ({{usernameId}})</a> on <a href="{{sourceSiteUrl}}">{{sourceSiteName}}</a>
  </div>


  {{#if imageUrl}}
   <a class="reveal-media-button" href="{{imageUrl}}">media</a>
  <div class="mediadata">
  <p><img src="{{imageUrl}}" width="100%"></p>
  </div>
  {{/if}}
  </div>

</div>