<article>
  {{#if allowEdit }} <input type="checkbox" name="webitem" value="{{_id}}" />{{/if}}
  
  <img src="{{authorAvatarUrl}}">
  
  <h1>{{title}}</h1>
  <div class="itemcontent">{{content}}</div>
  
  <div class="postdata">
    <a href="{{url}}">original</a> posted at {{datePosted}} by <a href="{{authorProfileUrl}}"></a> on <a href="{{sourceSiteUrl}}">{{sourceSiteName}}</a>
  </div>
  


</article>


{{!-- 
{
url: "http://twitter.com/TheElders/status/436486289421271040",
title: "Tweet by The Elders",
content: "More than half of the Central African Republic's 4.5 million inhabitants are reported to be in need of humanitarian assistance. #CARcrisis",
imageUrl: "",
geotags: null,
authorName: "The Elders",
authorProfileUrl: "http://twitter.com/TheElders",
authorAvatarUrl: "http://pbs.twimg.com/profile_images/2720823894/6ca2325f45b8466c3712bee291623387_normal.jpeg",
sourceSiteName: "Twitter",
sourceSiteUrl: "http://twitter.com",
sourceSiteLogoUrl: "",
inReplyTo: null,
dateCollected: "2014-02-20T13:52:23.141Z",
datePosted: "Thu Feb 20 13:03:35 +0000 2014",
dateLastValidated: "2014-02-20T13:52:23.141Z",
comment: "",
tags: "",
status: 0
},

 --}}