<form action='#' id="resultsForm">
<div class="form-group">
  <input type="submit" class="btn btn-default" value="Save selected" />
</form>
<div class="list-group">
{{#each items}}
<div class="list-group-item media" data-itemid="{{@index}}">
  <label for="result-{{@index}}">
  <div  class="pull-left">  
   <input type="checkbox" name="webitem[{{@index}}]" value="{{@index}}" id="result-{{@index}}" />
    <img src="{{authorAvatarUrl}}"  class="media-object">
  </div>
  </label>
  <div class="media-body">
  <h6 class="media-heading">{{title}}</h6>
  {{{content}}}
  {{#if imageUrl}}
  <p><img src="{{imageUrl}}"></p>
  {{/if}}
  </div>
  <div class="postdata">
    <a href="{{url}}">original</a> posted at {{datePosted}} by <a href="{{authorProfileUrl}}">{{authorName}} ({{usernameID}})</a> on <a href="{{sourceSiteUrl}}">{{sourceSiteName}}</a>
  </div>

</div>
{{/each}}
</div>
</form>
