<li class="list-group-item media" data-itemid="{{cid}}">

  <h6 class="media-heading">{{atts.title}}</h6>

  <div  class="pull-left">
    <img src="{{atts.authorAvatarUrl}}"  class="media-object">
  </div>

  {{#if atts.content }}
  <div class="media-body">
    <small>{{{linkify atts.content}}}</small>
  </div>
  {{/if}}

  <a class="more-info-button" href="{{atts.url}}">post info</a>
  <div class="postdata">
    <a href="{{atts.url}}" target="_blank">original</a> posted at {{atts.datePosted}} by <a href="{{atts.authorProfileUrl}}" target="_blank">{{atts.authorName}} ({{atts.usernameID}})</a> on <a href="{{atts.sourceSiteUrl}}"  target="_blank">{{atts.sourceSiteName}}</a>
  </div>
  
  {{#if atts.imageUrl}}
  <a class="reveal-media-button" href="{{atts.imageUrl}}">media</a>
  <div class="mediadata">
    <p><img src="{{atts.imageUrl}}" width="100%"></p>
  </div>
  {{/if}}

  {{#if pageCommentsCount }}
  <a href="#">view {{pageCommentsCount}} comments</a>
  {{/if}}
  <a href="#" class="save-btn">Save</a>
</li>