<li class="list-group-page-item media" data-itemid="{{cid}}">
  <h5 class="media-heading">{{ atts.displayName }}</h5>
  <h6>{{ atts.category }}</h6>
   <div class="pull-left">  
    <img src="{{ atts.image.url }}"  class="media-object">
  </div>

  <a href="#" data-personid="{{ atts.id }}" class="show-page-posts">See profile posts</a>
</li>

