<li class="list-group-page-item media" data-itemid="{{cid}}">
  <h5 class="media-heading">{{atts.name}}</h5>
  <h6>{{atts.category}}</h6>
   <div  class="pull-left">  
    <img src="https://graph.facebook.com/{{atts.id}}/picture?type=square"  class="media-object">
  </div>

  <div><a href="#" data-pageid="{{ atts.id}}" class="show-page-posts">posts</a></div>
  <div><a href="#" data-pageid="{{ atts.id}}" class="show-page-feed">feed</a></div>
</li>

